In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [26]:
df = pd.read_csv("max_min_values.csv", index_col = "index").drop(columns = "Unnamed: 0")
df

           max_mean       max_std      min_mean       min_std
index
T      18021.087891  2.107048e+02  1.811003e+03  2.056997e+02
Rho        0.000010  1.886290e-07  1.637947e-10  1.324034e-10
Bxx     1644.796875  6.312047e+02 -2.375797e+03  9.563129e+02
Byy     2647.557373  1.089397e+03 -2.784300e+03  1.245898e+03
Bzz     1963.743652  7.876019e+02 -1.970475e+03  7.736467e+02
Vxx        3.254688  4.367345e-01 -3.247687e+00  3.958700e-01
Vyy        2.596336  4.407849e-01 -6.251667e+00  7.485214e-01
Vzz        3.313628  4.489605e-01 -3.324518e+00  5.103738e-01

In [ ]:
for col in df.columns:
    print(col)
    df["log_"+col] = df[col].apply(lambda x: np.log10(x))

In [25]:
df

,max_mean,max_std,min_mean,min_std,log_max_mean,log_max_std,log_min_mean,log_min_std
index,,,,,,,,
T,18021.087891,2.107048e+02,1.811003e+03,2.056997e+02,4.255781,2.323674,3.257919,2.313234
Rho,0.000010,1.886290e-07,1.637947e-10,1.324034e-10,-5.020919,-6.724392,-9.785700,-9.878101
Bxx,1644.796875,6.312047e+02,-2.375797e+03,9.563129e+02,3.216112,2.800170,NaN,2.980600
Byy,2647.557373,1.089397e+03,-2.784300e+03,1.245898e+03,3.422845,3.037186,NaN,3.095483
Bzz,1963.743652,7.876019e+02,-1.970475e+03,7.736467e+02,3.293085,2.896307,NaN,2.888543
Vxx,3.254688,4.367345e-01,-3.247687e+00,3.958700e-01,0.512509,-0.359783,NaN,-0.402447
Vyy,2.596336,4.407849e-01,-6.251667e+00,7.485214e-01,0.414361,-0.355773,NaN,-0.125796
Vzz,3.313628,4.489605e-01,-3.324518e+00,5.103738e-01,0.520304,-0.347792,NaN,-0.292112

In [10]:
df["max_mean"].apply(lambda x: np.log10(x))

0    4.255781
1   -5.020919
2    3.216112
3    3.422845
4    3.293085
5    0.512509
6    0.414361
7    0.520304
Name: max_mean, dtype: float64